@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:lavenderblush;
    color:rgb(30, 50, 142);
    font-family: "Cabin", sans-serif;
    font-weight: 300;
}

header {
    font-size: 1.5rem;
    color: rgb(9, 22, 81);
    padding: 2rem;
    background-color:rgb(138, 121, 244) ;
    text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: rgb(9, 22, 81);
    font-size: 1.3rem;
}

input[type="radio"],input[type="checkbox"]{
    accent-color:rgb(138, 121, 244);
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"]{
    width: 40%;
    padding: 0.5rem;
    border: 2px solid rgb(138, 121, 244);
    outline: none;
    border-radius: 10px ;
    background-color: transparent;
}

input::placeholder {
    color:rgb(9, 22, 81);
}

select {
    cursor: pointer;
    background-color: rgb(192, 183, 255);;
    border-radius: 10px;
    outline:none;
}

img{
    width: 15rem;
    border-radius: 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th {
    background-color: rgb(192, 183, 255);
    color:rgb(9, 22, 81);
    padding: 0.8rem;
}

td {
    color:rgb(9, 22, 81);
    padding: 0.8rem;
    text-align: center;
} 

details {
    width: 40%;
    background-color: rgb(192, 183, 255);
    border-radius: 10px;
    padding: 1rem;
}

summary {
    color:rgb(9, 22, 81);
    margin: 0.5rem;
    cursor: pointer;
}

ol {
    margin-left: 1.5rem;
}

li {
    padding: 0.2rem;
     color:rgb(9, 22, 81);
}

fieldset {
    border: 2px solid rgb(192, 183, 255);
    border-radius: 10px;
    padding: 1rem;
}

legend {
    color: rgb(9, 22, 81);
    padding: 0 1rem;
}

textarea {
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(138, 121, 244);
    border-radius: 10px;
}

button {
    background-color:rgb(192, 183, 255) ;
    border: 2px solid rgb(138, 121, 244);
    border-radius: 10px;
    padding: 0.7rem;
    color:rgb(9, 22, 81);
    cursor: pointer;
}

footer{
    background-color:rgb(138, 121, 244);
    padding: 0.5rem;
    text-align: center;
}
.paragrafo-footer {
    color:rgb(9, 22, 81);
}

